<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


 <div class="container">
      <h3>EMPLEADOS</h3>
      
     
      <section id="ap-empleado">
            <header><h1>Clientes</h1></header>
                        <nav>
        <ul>
            <li> <a href="index.html" name="Inicio">Inicio</a> </li>
        </ul>
    </nav>
            
             <section>
                <div id="notificacion"></div>
                <div id="forma">
                    <table>
                        <tr><td>Nombre:</td><td><input type="text" id="inp-nombre"></td></tr>
                        <tr><td>Login</td><td><input type="text" id="inp-login"></td></tr>
                        <tr><td>email</td><td><input type="text" id="inp-email"></td></tr>
                        <tr><td>Fecha</td><td><input type="text" id="inp-fechaRegistro"></td></tr>
                        <tr><td></td><td><button id='bt-guardar' class='bt-guardar'>Guardar</button>
                                <input type="hidden" id="inp-idCliente"></td></tr>
                        
                    </table>
                </div>
                <div id="busqueda">
                    <input type="text" id="inp-busqueda">
                    <button id="bt-buscar">Buscar</button>
                </div>
            </section>
                       
            
            <section>
               <!--  <ul id="lista-articulos"></ul> -->
                <table id="lista-empleado"></table>
            </section>
        </section>
      
       <!-- PLANTILLAS -->
        <script type='text/template' id='plantilla-empleado'>
            <td class="art-nombreEmpleados"><%- nombreEmpleados %> </td>
            <td class='art-usuario'><%- usuario %></td>
            <td class='art-password2'><%- password2 %></td>
            <td class='art-direccionEmpleado'><%- direccionEmpleado %></td>
            <td class='art-telEmpleado'><%- telEmpleado %></td>         
            </td>            
            
            <td class='art-boton'>
                    <button id='bt-editar-<%- idEmpleados %> ' class='bt-editar'>E</button>
            </td>
            <td class='art-boton'>
                    <button id='bt-borrar-<%- idEmpleados %>' class='bt-borrar'>X</button>
            </td>
        </script>
           <!-- DEPENDENCIAS JAVASCRIPT -->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/underscore-min.js"></script>
        <script src="../js/backbone-min.js"></script>
        <script type="text/javascript">
                 var apArts = {};
        
                apArts.Empleado = Backbone.Model.extend({
                defaults:{ nombre: "empleados"},
                idAttribute : 'idEmpleados',
                urlRoot:'/RanchoSoft1/empleados',
                initialize: function(){
                    console.log('Inicializacion Empleado');
                        this.on('change',function() {
                             console.log('Cambio de Empleado');
                        });
                },
                validate: function(atribs){
                    console.log('Validando Empleado');                        
                    }
                });
                
                apArts.ListaEmpleado = Backbone.Collection.extend({
                    model: apArts.Empleado,
                    url:'/RanchoSoft1/empleados'
                });
                
                 apArts.EmpeladoEnPantalla = new apArts.ListaEmpleado();
                 
                  apArts.VistaEmpleado = Backbone.View.extend({
                   // tagName: 'li',
                    tagName: 'tr',
                    template: _.template($('#plantilla-empleado').html()),  
                    render: function(){
                        //this.$el.html(this.model.attributes.nombre);                        
                         this.$el.html(this.template(this.model.toJSON()));  
                         return this;
                    }
                });
                 
                /*Asociar la vista o lista*/
                apArts.VistaListaEmpleado = Backbone.View.extend({
                    el: "#ap-empleado",
                events:{
                    'click .bt-borrar':'borrarEmpleado',
                    'click #bt-guardar':'guardarEmpleado',
                    'click .bt-editar':'editarEmplado',
                    'click #bt-buscar':'buscarEmpleado'
                }, 
                initialize: function(){
                        console.log('Iniciliza lista');
                        apArts.EmpleadoEnPantalla.on('add', this.addOne, this);
                        apArts.EmpleadoEnPantalla.on('reset', this.addAll, this);
                        apArts.EmpleadoEnPantalla.fetch();                        
                    },
                    addOne:function(art){
                        console.log('Lista addOne');
                        var vista = new apArts.VistaEmpleado({model: art});
                        $('#lista-empleado').append(vista.render().el);                        
                    },
                    addAll:function(){
                        console.log('Lista addAll');
                        this.$( "#lista-empleado").html('');  //cadena vacion indica que borra todo lo que tengas
                        apArts.EmpleadoEnPantalla.each(this.addOne, this);   // agregando todo on each                       
                    },
                    buscarCliente: function(ev){
                          console.log('buscar');                                            
                           apArts.EmpleadoEnPantalla.fetch({data: $.param({nombre: $('#inp-busqueda').val()}), reset:true});
                           $('#inp-busqueda').val('');
                          // var art1 = apArts.articulosEnPantalla.fetch(idArt);
                    },
                    guardarCliente1: function() {
                    console.log('guardar');
                    var self = this;
                    var art = {};
                    if ($('#inp-idCliente').val()) {
                        art = apArts.clienteEnPantalla.get($('#inp-idCliente').val());
                    }
                    else {
                        art = new apArts.Cliente();
                    }
                    art.set('nombre',$('#inp-nombre').val());
                    art.set('login', $('#inp-login').val());
                    art.set('email', $('#inp-email').val());
                    art.set('fechaRegistro', $('#inp-fechaRegistro').val());
                    console.log(art);
                    art.save({},{
                        success: function(model, response){
                            console.log('model');
                             // self.mostrarMensaje('El artículo se guardó');
                            $('#notificacion').text('el cliente se guardo'); // muestra los mensajes
                            $('#notificacion').show();   
                            $('#inp-nombre').val('');
                            $('#inp-login').val('');
                            $('#inp-email').val('');
                            $('#inp-fechaRegistro').val('');
                            $('#inp-idCliente').val('');
                            apArts.clienteEnPantalla.add(model);
                            apArts.clienteEnPantalla.fetch({data: $.param({nombre: ''}), reset:true});
                        },
                        error: function(model, response){
                           // self.mostrarError('El Cliente no se pudo guardar');
                           $('#notificacion').text('el cliente no puso ser guadado');                                        
                           $('#notificacion').addClass('error');
                           $('#notificacion').show();   
                           apArts.clienteEnPantalla.fetch({data: $.param({nombre: ''}), reset:true});
                        }
                    });
                    },
                    borrarCliente: function(ev) {
                    console.log('borrar');
                    var idArt = parseInt(ev.currentTarget.id.substring(10));
                    var self = this;
                    console.log(idArt);
                    if (confirm('¿Desea borrar este cliente?')) {
                        var art = new apArts.Cliente({'idCliente': idArt});
                        art.destroy({
                           success:function(model, response){
                               $('#notificacion').text('el cliente se elimino'); // muestra los mensajes
                                $('#notificacion').show(); 
                               apArts.clienteEnPantalla.remove(idArt);
                               $(ev.currentTarget).closest('tr').remove();
                           },
                           error: function(model, response){
                                 $('#notificacion').text('el cliente no puso ser eliminar');                                        
                                $('#notificacion').addClass('error');
                                $('#notificacion').show();          
                           }
                        });
                        
                    }
                    },
                    editarCliente: function(ev){
                        console.log('Editar');
                        var idArt = parseInt(ev.currentTarget.id.substring(10));
                        //obtener los datos del objeto mediante el id y ponerlos en los textbox y poder modificar 
                        var art = apArts.clienteEnPantalla.get(idArt);
                        $('#inp-idCliente').val(idArt);
                        $('#inp-nombre').val(art.get('nombre'));
                        $('#inp-login').val(art.get('login'));
                        $('#inp-email').val(art.get('email'));
                        $('#inp-fechaRegistro').val(art.get('fechaRegistro'));
                    }
                   
              
                });
                
                
                apArts.vistaArts = new apArts.VistVistaListaEmpleadoaListaEmpleado();
        </script>   
            
          </div>

        
